body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: Roboto;
}

/* колір основного тексту #212121 */
/* колір додаткового тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* колір фону #E5E5E5 */
/* додатковий колір фону #F5F4FA */

/* Логотип */
.logo {
  color: #212121;
}
/* Видаляємо крапки в списках */
.list {
  list-style: none;
}
/* Навігація по сайту */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* Контакти */
.contact .contct-link {
  color: #757575;
}
.contact .contct-link:hover,
.contact .contct-link:focus {
  color: #2196f3;
}
