body {
   background-color: #E5E5E5;
    color: #212121;
font-family: Roboto;}


/* колір основного тексту #212121 */
/* колір додаткового тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* колір фону #E5E5E5 */
/* додатковий колір фону #F5F4FA */
